*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(logo\ proa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
p{
    color: white;
}
header{
    margin-top: -8px;
    margin-left: -8px;
    background-color: #007fff;
    display: flex;
    justify-content: center;
    width: 1351px;
}
img{
    height: 130px;
    width: 130px;
}
.navegar{
    margin-left: 20px;
    width: 1323 px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
button{
    padding: 20px;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    background: #007fff;
    color: black;
    font-family: 'roboto', sans-serif;
    font-size: 19px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: grey;
}
.copy-div{
    padding: 10px;
    background-color: #007fff;
    width: 200px;
    height: 1000px;
    position: fixed;
    margin-left: -8px;
    z-index: 10;
    margin-top: -280px;
}
.copy{
    font-size: medium;
    margin-top: 200px;
}
.info{
    margin-left: 270px;
    width: 1000px;
    height: 540px;
    background-color: rgb(0, 0, 0, 0.4);
}
.info-2{
    margin-left: 300px;
    width: 900px;
    height: 340px;
    background-color: rgb(0, 0, 0, 0.4);
}
.tabla{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.tabla-doc{
    background-color: white;
    margin-left: 180px;
}
.tabla-tut{
    background-color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 800px;
    margin-bottom: 20px;
}
th, td{
    padding: 10px;
    border: 3px solid black;
}
ul{
    list-style-type: none;
}

footer{
    background-color: #007fff;
    margin-left: -58px;
    height: 50px;
    width: 1200px;
}